.profile__info {
  display: grid;
  max-width: 336px;
  justify-content: start;
  align-content: center;
  gap: 16px 18px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'profile__user form-edit'
    'profile__user-job .';
}

@media (max-width: 620px) {
  .profile__info {
    gap: 14px 10px;
    margin-top: 22.25px;
    justify-content: center;
    grid-template-areas:
      'profile__user form-edit'
      'profile__user-job profile__user-job';
  }
}
