.profile__user-job {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  grid-area: profile__user-job;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 620px) {
  .profile__user-job {
    font-size: 18px;
    line-height: 1.21;
    justify-content: center;
  }
}
