.profile {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 0.75fr;
  grid-template-rows: auto;
  padding-top: 40px;
}

@media (max-width: 620px) {
  .profile {
    grid-template: auto / 1fr;
    justify-items: center;
    padding-top: 38.25px;
  }
}
