.pop-up__container {
  padding: 34px 36px 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 430px;
  color: #000000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  z-index: 8;
}

@media (max-width: 880px) {
  .pop-up__container {
    width: 282px;
    padding: 25px 22px;
  }
}
